<div class="panel mb25" data-ng-controller="matchesCtrl">
  <div class="panel-heading">
    Bootstrap option
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb0">
        <thead>
        <tr>
          <th>Timelog</th>
          <th>Hostname</th>
          <th>Message</th>
          <th>Source Address</th>
          <th>Destination version</th>
          <th>Reference</th>
          <th>Sid</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="match in matches | startFrom:currentPage*pageSize | limitTo:pageSize">
          <td nowrap>{{match.timelog}}</td>
          <td nowrap>{{match.hostname}}</td>
          <td nowrap>{{match.generalOptions.msg}}</td>
          <td nowrap>{{match.sourceIP}}:{{match.sourcePort}}</td>
          <td nowrap>{{match.destinationIP}}:{{match.destinationPort}}</td>
          <td nowrap>{{match.generalOptions.references[0]}}</td>
          <td nowrap>{{match.generalOptions.sid}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination total-items="total" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numberOfPages"></pagination>

  </div>
</div>
