<div class="container">
  <div class="quick-launcher-inner">
    <a href="javascript:;" class="close" quick-launch>×</a>
    <div class="css-table-xs">
      <div class="col">
          <a ui-sref="app.apps.calendar">
            <i class="icon-marquee"></i>
            <span>Calendar</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.apps.gallery">
            <i class="icon-drop"></i>
            <span>Gallery</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.apps.messages">
            <i class="icon-mail"></i>
            <span>Messages</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.apps.social">
            <i class="icon-speech-bubble"></i>
            <span>Social</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.charts.flot">
            <i class="icon-pie-graph"></i>
            <span>Analytics</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.documentation">
            <i class="icon-esc"></i>
            <span>Documentation</span>
          </a>
      </div>
    </div>
  </div>
</div>
